extends layout

block content
  h1= title
  p this is a change to the pug file #{title}
  button(type="button", class="btn btn-secondary", onclick="double()") Press Me
  div#double Two to the power #{power} is #{value}.

  script.
    var value = 2;
    var power = 1;

    function double() {
        power += 1;
        value *= 2;
        document.getElementById('double').innerText = "Two to the power " + power + " is " + value + ".";
    }
